*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  inline-size: 1200px;
  block-size: 100%;
  place-items: center;
  min-height: 100vh;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
  appearance: none;
}

.search-form__textfield {
  all: unset;
  width: 225px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  line-height: 1.2;
  padding: 2px 0;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(:active) {
  border: none;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  margin: 20px 0 0;
  padding: 6px 73px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.search-form__checkbox + .search-form__pseudo-checkbox {
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: #fff;
  outline: 1px solid #000;
  outline-offset: -2px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  background-color: #1b1919;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.more-button {
  padding: 6px 0;
}

.content__list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 298px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  display: block;
  max-width: 200px;
}

.content__list-item {
  margin-bottom: 32px;
  width: 398px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  border: 1px solid #fff;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:last-child {
  margin: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.title {
  font-family: Oswald, sans-serif;
  margin-bottom: 26px;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2px;
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}
